# User-specific files VisualStudio files
*.suo


# VisualStudio cache directory
.vs/

# NuGet Packages
**/packages/

# Build results
**/bin/[Dd]ebug/
**/bin/[Rr]elease/
**/obj/[Dd]ebug/
**/obj/[Rr]elease/
*.cache

# Python files
*.pyc
**/__pycache__/